#datetime {
  text-align: center;
}
#datetime h1 {
  font-size: 6.1em;
}
#datetime h2 {
  font-size: 1.0em;
}

#forecast ul li {
  font-size: 4.5em;
  text-align: center;
}
#forecast ul li h3 {
  font-size: 1.4em;
}
#forecast ul li .today h3 {
  font-size: 1.8em;
}

#actionbar {
  position: absolute;
  bottom: 0.5em;
  right: 1.0em;
}
#actionbar a {
  font-size: 2.2rem;
  color: #000;
}